/*html{
	background: rgb(174,211,238);
background: linear-gradient(0deg, rgba(174,211,238,0.9917788461538461) 0%, rgba(148,187,233,0) 61%);
}*/

.services{
	font-family: 'Open Sans', sans-serif;
}

h3{
	font-family: 'Open Sans', sans-serif;
	margin: 2em;
}

h1, h2{
	font-family: 'Open Sans', sans-serif;
	text-align: center
}

.landingtext{
	text-align: center;
}

.services{
	 list-style-type:none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

li {
	list-style-type:none;
	padding-right: 2em;
	padding-top: 2em
}